body {
    font-family: monospace;
    font-size: 30px;
}

h1 {
    margin: 0px;
}

a {
    color: #00e;
}

.message {
    border: dashed #000 3px;
    background-color: #aaa;
    text-align: justify;
    padding: 10px;
}

img {
    border: solid #000 4px;
}

#text1 {
    font-size: 30px;
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: row;
}

#div-avisos {
    background-color: #000;
    color: #fff;
    border: dotted #fff 3px;
    padding: 10px;
    margin: 10px;
    width: 50vw;
}

#div-avisos a {
    color: #99f;
}