body {
    font-family: monospace;
    font-size: 30px;
}

h1 {
    margin: 0px;
}

a {
    color: #00e;
}

.message {
    border: dashed #000 3px;
    background-color: #aaa;
    text-align: justify;
    padding: 10px;
}

img {
    border: solid #000 4px;
}

#text1 {
    font-size: 30px;
    margin: 0px;
}